{% extends "quiz/base.html" %}
{% load static %}
{% block cat %}

<h3 class="cat-title">Choose your category</h3>

<div class="cat-bento">
  <a class="maincat" href="questions/All"><img src="{% static 'assets/All.png' %}" alt=""><h3>ALL</h3></a>
  <a class="maincat" href="questions/Random"><img src="{% static 'assets/Random.png' %}" alt=""><h3>RANDOM</h3></a>
  {% for cat, subcat in Category.items %}
  <a class="maincat" href="{{ cat }}"><img src="{% static 'assets/' %}{{ cat }}.png" alt=""><h3>{{ cat.upper }}</h3></a>
  {% endfor %}
</div>

{% endblock %}
