
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'assets/logic.js' %}"></script>

</head>
<body>
<div>

<div class="wrapper">
        <nav style="z-index:3;">
          <div class="logo"><img src="{% static 'assets/logo.png' %}" width="175.5" height="45"></div>
          <ul id="navbar">
            <li><a href="/quiz/" class="selected navelement firstelement" style=" font-family: 'Montserrat';">Home</a></li>
            <li><a href="/quiz/about/" class="navelement" style=" font-family: 'Montserrat';">About</a></li>

              <li><a href="/quiz/archive/" class="lastelement navelement" style=" font-family: 'Montserrat';">Archive</a></li>
            <li>
              <form action="/quiz/logout/" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="active navelement" style="font-family: 'Montserrat'; background:none; border:none; cursor:pointer; color:inherit; font-size:inherit; padding:0;">Logout</button>
              </form>
            </li>

              <img src="{% static 'assets/DefaultAvatar.png' %}" style="width:60px;height:60px;border-radius:50%;margin-left:60px;border:6px solid #FF8052;z-index:1;">
            <li><a style = "margin-left:-10px;background-color:#fff;border:none;"href="#">{{userboi}}</a></li>



          </ul>
         </nav>
</div>

{%block cat%}
{%endblock%}
 {%block catw%}
{%endblock%}
</div>

<div style="width:1000px;border: solid 1px grey; border-radius:20px;margin-top:235px;margin-left:65.5%;box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.7);">
    <div style="display:inline-block;background:orange;width:1000px;border-radius:20px 20px 0px 0px;background: linear-gradient(45deg, rgba(0,220,247,1) 0%, rgba(0,42,255,1) 100%);">
        <img src="{% static 'assets/Facts.png' %}" style="width:50px;height:50px;border-radius:50%;position:relative;margin-top:20px;float:left;
  display: inline-block;margin-left:290px;">
        <p style="float:right;display:inline-block;margin-right:400px;margin-top:30px;font-size:30px;">RANDOM FACT</p>





</div>
<p style="font-size:60px;font-family: 'Quicksand';font-weight: 900;position:relative;margin:20px;">{{Facts}}</p>


</div>







<div style="width:1800px;height:900px;border: solid 1px grey; border-radius:20px;box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.7);position:absolute;top:23.5%;left:5.5%;">
    <p style="font-size:40px;font-weight:900; text-align:center;color:black;">TAKE A QUIZ</p>
    <a href="mcq/categories"><div style="margin-right:200px;" class="mode">
        <img src="{% static 'assets/MCQ.png' %}" style="width:80px;height:80px;" >
        <h3 style="
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        float:right;

        line-height:0px;
        transition: 0.3s;">MCQ</h3>
    </div></a>
    <a href="written/categories"><div style="margin-right:150px;" class="mode">
        <img src="{% static 'assets/Written.png' %}" style="width:80px;height:80px;" >
        <h3 style="
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        float:right;

        line-height:0px;
        transition: 0.3s;">Written</h3>
    </div></a>

    <a href="flashcard/categories"><div style="margin-left:90px;margin-right:120px;padding:20px;" class="mode">
        <img src="{% static 'assets/Flashcards.png' %}" style="width:80px;height:80px;" >
        <h3 style="
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        float:right;

        line-height:0px;
        transition: 0.3s;">Flashcards</h3>
    </div></a>
    <a href="connect/categories"><div style="margin-right:200px;" class="mode">
        <img src="{% static 'assets/Connect.png' %}" style="width:80px;height:80px;">
        <h3 style="
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        float:right;

        line-height:0px;
        transition: 0.3s;">Connect</h3>
    </div></a>

    <a href="audiovisual/categories/"><div style="padding-left:30px;padding-right:30px;margin-right:90;margin-left:90px;" class="mode">
        <img src="{% static 'assets/AV.png' %}" style="width:90px;height:90px;">
        <h3 style="
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        float:right;

        line-height:0px;
        transition: 0.3s;">AV</h3>
    </div></a>
</div>
<div class="container" style="float: left;">

            {% block body %}
            {% endblock %}
</div>


</div>
</body>

</html>
